<a href="https://colab.research.google.com/github/diego-encinas/Curso_Python/blob/main/Pragmma_Sesion1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empleado="Diego Alexander"
horas=40
tarifa=60
basico=horas*tarifa
print('Empleado',empleado)
print('Sueldo Basico es S/.',basico)

Empleado Diego Alexander
Sueldo Basico es S/. 2400

In [ ]:
estudiante='Diego Encinas'
exparcial=16
exfinal=20
proyecto=12
promedio=(exparcial+exfinal+proyecto)//3
print('Estudiante',estudiante,'tu promedio es:',promedio)

In [6]:
def funcion1(estudiante,exparcial,exfinal,proyecto):
  promedio=(exparcial+exfinal+proyecto)//3
  print('Estudiante',estudiante,'tu promedio es:',promedio)

In [10]:
funcion1('Diego',14,13,19)

Estudiante Diego tu promedio es: 15

In [11]:
funcion1("Sofia",18,16,20)

Estudiante Sofia tu promedio es: 18

In [16]:
def problema2(empleado,horas,tarifa):
  basico=horas*tarifa
  dscto=basico*0.12
  neto=basico-dscto
  print("Empleado",empleado,
        "\nSueldo Basico es: S/.",basico,
        "\nDescuento es: S/.",dscto,
        "\nSueldo Neto es: S/.",neto)

In [20]:
empleado=input("Ingrese Nombre: ")
horas=int(input("Ingrese horas: "))
tarifa=int(input("Ingrese tarifa: "))
print("\n")
problema2(empleado,horas,tarifa)

Ingrese Nombre: Diego
Ingrese horas: 40
Ingrese tarifa: 5


Empleado Diego
Sueldo Basico es: S/. 200
Descuento es: S/. 24.0
Sueldo Neto es: S/. 176.0