<a href="https://colab.research.google.com/github/diego-encinas/Curso_Python/blob/main/Sesion3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
empleado="JuAN joSE romERO aliAGA"
print("Mayuscula:",empleado.upper())
print("Minuscula:",empleado.lower())
print("Primera letra mayusucula:",empleado.title())
print ("Tipo Oracion:",empleado.capitalize())
print("Contrario:", empleado.swapcase)

Mayuscula: JUAN JOSE ROMERO ALIAGA
Minuscula: juan jose romero aliaga
Primera letra mayusucula: Juan Jose Romero Aliaga
Tipo Oracion: Juan jose romero aliaga
Contrario: <built-in method swapcase of str object at 0x7e29c572d4d0>

In [6]:
empleado="    Juan Jose    "
print("Elimina espacio blanco inicio:",empleado.lstrip())
print("Elimina espacio blanco final:", empleado.rstrip())
print("Elimina espacio blanco ambos lados:",empleado.strip())

Elimina espacio blanco inicio: Juan Jose
Elimina espacio blanco final:     Juan Jose
Elimina espacio blanco ambos lados: Juan Jose

In [5]:
empleado="____Juan Jose____"
print("Elimina espacio blanco inicio:",empleado.lstrip("_"))
print("Elimina espacio blanco final:", empleado.rstrip("_"))
print("Elimina espacio blanco ambos lados:",empleado.strip("_"))

Elimina espacio blanco inicio: Juan Jose____
Elimina espacio blanco final: ____Juan Jose
Elimina espacio blanco ambos lados: Juan Jose

In [10]:
empleado="Juan Jose Romero Aliaga"
print("Veces repite caracter:",empleado.count("o"))
print("Busca posicion:",empleado.find("o"))
print("Buscar posición a partir de:",empleado.find("o",7))
print("Buscar posicion en un rango:",empleado.find("o",12,18))
print("Buscar posicion del fina al inicio:",empleado.rfind("o"))

Veces repite caracter: 3
Busca posicion: 6
Buscar posición a partir de: 11
Buscar posicion en un rango: 15
Buscar posicion del fina al inicio: 15

In [12]:
empleado="Juan Jose Romero Aliaga"
print("Busca posicion:",empleado.index("o"))
print("Buscar posición a partir de:",empleado.index("o",7))
print("Buscar posicion en un rango:",empleado.index("o",12,18))

Busca posicion: 6
Buscar posición a partir de: 11
Buscar posicion en un rango: 15

In [13]:
print("Cantidad de caracteres:", len(empleado))
print("Reemplazar caracteres:", empleado.replace("o","x"))

Cantidad de caracteres: 23
Reemplazar caracteres: Juan Jxse Rxmerx Aliaga

In [17]:
print("posicion 2:",empleado[2])
print("Mostrar a partir de posicion 5:",empleado[5:])
print("Mostrar a hsta la posicion 5:",empleado[:5])
print("Mostrar en un rango:",empleado[5:9])

posicion 2: a
Mostrar a partir de posicion 5: Jose Romero Aliaga
Mostrar a hsta la posicion 5: Juan
Mostrar en un rango: Jose

In [19]:
print("Repetir n veces: ",empleado*3)
print("Separar en list:",empleado.split(" "))

Repetir n veces:  Juan Jose Romero AliagaJuan Jose Romero AliagaJuan Jose Romero Aliaga
Separar en list: ['Juan', 'Jose', 'Romero', 'Aliaga']

In [21]:
print("Valor absoluto:",abs(-23))
print("Potencia:",pow(4,3))
print("Raiz N:",pow(64,1/3))
print("Redondear:",round(434.45643,2))
print("Division - Resto:",divmod(11,3))

Valor absoluto: 23
Potencia: 64
Raiz N: 3.9999999999999996
Redondear: 434.46
Division - Resto: (3, 2)

In [29]:
import math
print("Redondear hacia arriba:",math.ceil(123.54))
print("Redondear hacia abajo:",math.floor(123.54))
print("Factorial:",math.factorial(5))
print("Exponencial:",math.exp(1))
print("Logaritmo:",math.log(9,3))
print("Logaritmo:",math.log(1))
print("Raiz cuadrada:",math.sqrt(25))
print("Seno:",math.sin(0))
print("Coseno:",math.cos(0))
print("Tangente:",math.tan(0))
print("Valor PI:",math.pi)

Redondear hacia arriba: 124
Redondear hacia abajo: 123
Factorial: 120
Exponencial: 2.718281828459045
Logaritmo: 2.0
Logaritmo: 0.0
Raiz cuadrada: 5.0
Seno: 0.0
Coseno: 1.0
Tangente: 0.0
Valor PI: 3.141592653589793

In [35]:
import random
print("Valores al azar 0 a 1:,",random.random())
print("Valores al azar 20 a 50:,",random.randint(20,50))
print("Valores al azar -20 a 50:,",random.randint(-20,50))
print("Valores al azar decimal:,",random.uniform(-10,12))
print("Valores al azar decimal:,",random.uniform(-10.5,12.8))

Valores al azar 0 a 1:, 0.8944391916964254
Valores al azar 20 a 50:, 20
Valores al azar -20 a 50:, -17
Valores al azar decimal:, 6.131090742008624
Valores al azar decimal:, -2.7575171997798593

In [38]:
empleados=["Juan","Jose","Rosa","Liz","Pedro","Maria"]
print("Elegir elemento al azar:",random.choice(empleados))

Elegir elemento al azar: Liz

In [41]:
random.shuffle(empleados)
print(empleados)

['Maria', 'Rosa', 'Liz', 'Pedro', 'Jose', 'Juan']

In [46]:
print("Seleccionar 1 elemento al azar:",random.sample(empleados,1))
print("Seleccionar 2 elemento al azar:",random.sample(empleados,2))

Seleccionar 1 elemento al azar: ['Pedro']
Seleccionar 2 elemento al azar: ['Juan', 'Liz']

In [51]:
from datetime import date
fecha=date(2024,4,23)
print ("Fecha es:",fecha)
print("Fecha actual:",date.today())
print ("Año:",fecha.year)
print ("Mes:",fecha.month)
print ("Dia:",fecha.day)

Fecha es: 2024-04-23
Fecha actual: 2024-05-09
Año: 2024
Mes: 4
Dia: 23

In [52]:
from datetime import time
tiempo=time(20,38,40)
print("Tiempo es:",tiempo)
print("Hora es:",tiempo.hour)
print("Minuto es:",tiempo.minute)
print("Segundo es:",tiempo.second)

Tiempo es: 20:38:40
Hora es: 20
Minuto es: 38
Segundo es: 40

In [55]:
from datetime import datetime
fecha=datetime.now()
print("Fecha actual:",fecha)
print ("Año:",fecha.year)
print ("Mes:",fecha.month)
print ("Dia:",fecha.day)
print("Hora es:",fecha.hour)
print("Minuto es:",fecha.minute)
print("Segundo es:",fecha.second)

Fecha actual: 2024-05-09 02:13:17.376147
Año: 2024
Mes: 5
Dia: 9
Hora es: 2
Minuto es: 13
Segundo es: 17

In [58]:
from dateutil.relativedelta import relativedelta
fecha1=datetime(2023,9,1)
fecha2=datetime(2025,3,15)
diferencia=relativedelta(fecha2,fecha1)
print("diferencia de años:",diferencia.years)
print("diferencia de meses:",diferencia.months)
print("diferencia de dias:",diferencia.days)

diferencia de años: 1
diferencia de meses: 6
diferencia de dias: 14

In [59]:
x=datetime(2024,3,15,21,5)
x=x.strftime("%A,%d de %B %Y es %I:%M %p")
print(x)

Friday,15 de March 2024 es 09:05 PM

Ingresar nombre, apellido paterno y apellido materno como el siguiente
formato: Juan,José Romero. Retornar por separado cada uno de ellos sin
usar la función Split.

In [68]:
def problema1(empleado):
    nombre=empleado[0:empleado.find(",")]
    paterno=empleado[empleado.find(",")+1:empleado.find(" ")]
    materno=empleado[empleado.find(" ")+1:]
    print("Nombre :",nombre)
    print("Apellido Paterno :",paterno)
    print("Apellido Materno :",materno)
problema1("Juan,José Romero")

Nombre : Juan
Apellido Paterno : José
Apellido Materno : Romero

. Contador de palabras: Crea una función que tome una cadena como entrada
y devuelva el recuento de palabras en esa cadena.

In [69]:
def contarpalabras(cadena):
  palabra=cadena.split()
  print("Cantidad de palabras es:",len(palabra))

contarpalabras("Crea una función que tome una cadena")

Cantidad de palabras es: 7

Cálculo del área de un triángulo dadas las longitudes de sus lados: Escribe
una función que tome las longitudes de los tres lados de un triángulo y
devuelva su área utilizando la fórmula de Herón.

In [70]:
def triangulo(a,b,c):
  s=(a+b+c)/2
  area=math.sqrt(s*(s-a)*(s-b)*(s-c))
  print("Area Triangulo es:",area)

triangulo(3,4,5)

Area Triangulo es: 6.0